<div class="bg-info vh-100">
  <nav>
    <div class="container-fluid">
      <div class="row">
        <h1 class="col-4">Jeux enfant</h1>
      </div>
    </div>
  </nav>
  <div class="btn-group-vertical position-absolute top-50 start-50 translate-middle">
    <div class="container-fluid">
      <div class="row">
        <a class="m-3 btn btn-danger text-light" routerLink="/menu" (click)="setTypePrincipal(typeChiffres)">Chiffres</a>
      </div>
      <div class="row">
        <a class="m-3 btn btn-warning text-light" routerLink="/menu" (click)="setTypePrincipal(typeFrancais)">Français</a>
      </div>
    </div>
  </div>
</div>
