<nav>
  <div class="container-fluid">
    <div class="row d-grid gap-2 d-md-flex justify-content-md-between">
      <h1 class="col-4">
        <i class="fa-sharp fa-solid fa-1" [style.color]="randomColorButtonPrecedent"></i>
        <i class="fa-sharp fa-solid fa-2"></i>
        <i class="fa-sharp fa-solid fa-3" [style.color]="randomColorButtonProchain"></i>
        Jeux enfant</h1>
      <a class="col-2 m-3 btn btn-danger btn-sm text-light" style="width: 200px" routerLink="/">
        <i class="fas fa-house"></i>
        Retourner</a>
    </div>
    <div class="row  float-end" *ngIf="typePrincipe == 'chiffres'">
      <app-my-modal></app-my-modal>
    </div>
  </div>
</nav>
