
<div class="vh-100" [style.background-color]="randomColorBackground">
  <app-header></app-header>
  <div class="m-1 text-center text-success display-1" >
    Bravo !!!
    <div class="row  d-grid gap-2 d-md-flex justify-content-md-between">
      <button class="my-3 btn btn-lg text-light">Sélectionner de nouveau</button>
      <button class="my-3 btn btn-lg text-light">home</button>
    </div>
  </div>
  <div class="m-1 text-center text-success display-1" >
    Malheureusement !!!! Votre choix est mauvais !!!!
    <div class="row  d-grid gap-2 d-md-flex justify-content-md-between">
      <button>Sélectionner de nouveau</button>
      <button>home</button>
    </div>
  </div>
</div>

