<div class="bg-warning vh-100">
  <nav>
    <div class="container-fluid">
      <div class="row">
        <h1 class="col-4">Jeux enfant</h1>
      </div>
    </div>
  </nav>
  <div class="btn-group-vertical position-absolute top-50 start-50 translate-middle">
    <div class="container-fluid">
      <div class="row">
        <a class="m-3 btn btn-info text-light" *ngIf="estTypeChiffre()" routerLink="/apprendreavecletypechiffres" (click)="setTypeDeChoix(typeApprendre)">Apprendre</a>
        <a class="m-3 btn btn-info text-light" *ngIf="estTypeFrancais()" routerLink="/apprendreavecletypefrancais" (click)="setTypeDeChoix(typeApprendre)">Apprendre</a>
      </div>
      <div class="row">
        <a class="m-3 btn btn-primary text-light" *ngIf="estTypeChiffre()" routerLink="/jeuavecletypefrancais" (click)="setTypeDeChoix(typeJeux)">Jeux</a>
        <a class="m-3 btn btn-info text-light" *ngIf="estTypeFrancais()" routerLink="/" (click)="setTypeDeChoix(typeJeux)">Jeux</a>
      </div>
      <div class="row">
        <a class="m-3 btn btn-danger text-light" routerLink="/" (click)="setTypeDeChoix(typeDefaut)">Retourner</a>
      </div>
    </div>
  </div>
</div>
