

<div class="vh-100" [style.background-color]="randomColorBackground">
  <app-header></app-header>
  <div class="row">
    <div class="col-4 m-1">
      <div class="card">
        <div class="card-body">
          {{numbreRandom}}
        </div>
      </div>
    </div>
    <div class="col-7 m-1">
      <div class="row">
        <div class="card">
          <div class="card-body" >
            <div class="row">
              <div class="col-1"  *ngFor="let i of range(0, nbRandomPourCard1-1)">
                <p class="bg-info">{{nbRandomPourCard1}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-1"  *ngFor="let i of range(0, nbRandomPourCard2-1)">
                <p class="bg-warning">{{nbRandomPourCard2}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-1"  *ngFor="let i of range(0, nbRandomPourCard3-1)">
                <p class="bg-danger">{{nbRandomPourCard3}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

