<app-page-resultat *ngIf="resultat"></app-page-resultat>
<div class="vh-100" [style.background-color]="randomColorBackground" *ngIf="!resultat">
  <app-header></app-header>
  <div class="row m-3 align-items-center vh-100">
    <div class="col-4 m-1 text-center">
      <div class="card">
        <div class="card-body">
          {{numbreRandom}}
        </div>
      </div>
    </div>
    <div class="col-7 m-1 justify-content-md-between">
      <div class="row m-1">
        <div class="card" (click)="getRepondre(1)">
          <div class="card-body" >
            <div class="row">
              <div class="col-1"  *ngFor="let i of range(0, nbRandomPourCard1-1)">
                <div class="m-2 p-2">
                  <i [class]="myicon" [style.color]="randomColorButtonProchain"  style="font-size: 2em; display: inline-block;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-1">
        <div class="card" (click)="getRepondre(2)">
          <div class="card-body">
            <div class="row">
              <div class="col-1 p-2"  *ngFor="let i of range(0, nbRandomPourCard2-1)">
                <div class="m-2 p-2">
                  <i [class]="myicon" [style.color]="randomColorButtonProchain"  style="font-size: 2em; display: inline-block;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-1">
        <div class="card" (click)="getRepondre(3)">
          <div class="card-body">
            <div class="row">
              <div class="col-1"  *ngFor="let i of range(0, nbRandomPourCard3-1)">
                <div class="m-2 p-2">
                  <i [class]="myicon" [style.color]="randomColorButtonProchain"  style="font-size: 2em; display: inline-block;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

